# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# dotenv files
.env

# build
dist
build

# logs
logs
*.log

# test
coverage
test-results
playwright-report
playwright/.cache
