:root {
    --text-secondary: #F5F5F5;
}

@font-face {
    font-family: 'ArtifaktElement';
    src: url('http://localhost/embeddedFonts/ArtifaktElement-Regular.woff');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "ArtifaktElement", system-ui, sans-serif;
}

/* Main Page Styles */
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #535353;
}

.main-flex-container {
    display: flex;
    flex-grow: 1;
}

.main-body-container {
    overflow-x: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    margin: 1.25rem;
}

.main-graph-grid {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); 
    gap: 1rem;
}

.sidebar-container {
    padding: 2rem;
    color: #ffffff;
    background-color: #373737;
    flex-shrink: 0;
    min-width: 242px;
}

.title-paragraph {
    display: block;
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

/* GraphGridItem Styles */
.graph-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.graph-link {
    text-decoration: none;
    color: inherit;
    position: relative;
    aspect-ratio: 16/9;
    background-color: #666666;
    display: block;
}

.row-img{
    max-width: 40px;
    aspect-ratio: 4/3;
    border: #424242 2px solid;
    margin-right: 10px;
}

.graph-link:hover .custom-container {
    background-color: #2C2C2C;
}

.clipped-image-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    aspect-ratio: 16/9; /* Maintain aspect ratio */
    overflow: hidden;
    position: relative;
}

.row-img-container{
    width: 100%;
    height: 100%;
}

.clipped-image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.custom-container {
    background-color: #424242;
    padding: 0.5rem;
}

.custom-container:hover {
    background-color: #2C2C2C;
}

.graph-item-title-text {
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: bold;
}

.graph-item-subtitle-text {
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 14px;
}

.graph-item-title-text, .graph-item-subtitle-text {
    min-height: 20px; /* Adjust as needed */
    /* existing styles */
}

.graph-card-text-item {
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;  
    margin: 0.4rem 0.2rem;
}


/* Sidebar */
.sidebar-grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

select {
    background: #292929;
    color: white;
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 0.7em;
    border-radius: 0px;
    /* Optional: Add border-radius for a rounded appearance */
    border-color: transparent;
}

.dynamo-logo {
    font-size: 32px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px
}

.sidebar-text {
    margin: 0px;
}

.sidebar-link-container {
    margin-top: 0px !important;
    margin-left: -32px;
    margin-right: -32px;
    padding: 1em;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
}

.sidebar-link-container.selected {
    background-color: #535353;
}

.sidebar-items-container {
    margin-top: 2rem;
    /* Equivalent to mt-20 in Tailwind */
}

.sidebar-items-container>*+* {
    margin-top: 1rem;
    /* Equivalent to space-y-4 in Tailwind */
}

.sidebar-link {
    color: #6DD2FF;
    text-decoration: none;
    margin-top: .5em;
    font-size: 14px;
}

.sidebar-link:hover {
    text-decoration: underline;
}

.link-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 180px;
}

.cell {
    position: relative;
}

.separator {
    position: absolute;
    /* Set the position to absolute */
    bottom: 0;
    /* Align to the bottom of the cell */
    left: 0;
    /* Align to the left of the cell */
    width: 100%;
    border: none;
    height: 1px;
    background-color: #4b4b4b;
    /* Separator color */
}

/* Custom Select Component */
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
    /* Flip the arrow when open */
}

.custom-dropdown {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    margin-top: 15px;
}

.custom-dropdown.open,
.custom-dropdown:hover {
    /* Add the 1px bottom border on hover */
    border-bottom-color: #38ABDF;
}

.custom-dropdown.open::after,
.custom-dropdown::after {
    /* Create a pseudo-element for the 5px thick rectangle */
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    /* Position it just below the 1px border */
    height: 5px;
    background-color: #40687A;
    /* Darker blue color */
    opacity: 0;
    /* Start with an invisible border */
    transition: opacity 0.3s ease;
    /* Transition for the opacity */
}

.custom-dropdown:hover::after {
    opacity: 1;
    /* Make the border visible on hover */
}

.custom-dropdown.open:not(:hover) {
    border-bottom-color: white;
}

.custom-dropdown.open:not(:hover)::after {
    background-color: #808080;
    opacity: 1;
}

.dropdown-selected {
    display: flex;
    /* Use flexbox layout */
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    /* Align items vertically */
    padding: 10px;
    padding-left: 14px;
    padding-right: 6px;
    background-color: #292929;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #535353;
    display: none;
    margin-top: 3px;
    z-index: 1000;
}

.dropdown-options.open {
    display: block;
}

.dropdown-option {
    padding: 10px;
}

.dropdown-option:hover {
    background-color: #434343;
}

/* List View */
.table-view {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px; /* Adjust as per your content */
  font-size: 14px;
  align-items: center;
  color: white;
  background-color: #3F3F3F;
  /* min-height: 32px; */
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px; /* Should match the header */
  align-items: center;
  cursor: pointer;
  /* max-height:32px; */
}

.table-header > div, 
.table-row > div {
  padding: 0.5em; /* Left padding, can be adjusted if needed */
}

.table-header > div:not(:first-child), 
.table-row > div:not(:first-child) {
  border-left: 1px solid rgba(204, 204, 204, 0.5); /* Left border instead of right */
}

.table-row > div {
  padding: 0.5rem; /* Adjust overall padding as needed */
}

.row-item-text {
    cursor: pointer;
    color: var(--text-secondary);
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    text-overflow: ellipsis; /* Adds an ellipsis (...) if the text is too long */
    overflow: hidden;
    font-size: 14px;
    min-height: 18.5px;
    max-width: 150px;
}

.title-cell {
  display: flex;
  align-items: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.title-text{
    max-width: 250px; /* Optional, ensures the div doesn't exceed its parent's width */
}

.viewmode-button{
    margin: 0px;
    padding: 0px;
    border: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px; 
}

.viewmode-button.active{ 
    background-color: rgba(56,171,223, 0.15); 
    border: 1px solid rgba(56,171,223, 0.5);
}

.hidden{
    display: none;
}